In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import preprocessing
from collections import Counter

In [2]:
data=pd.read_csv("vpavan.csv")
data.head()

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,TNLM,TNLPA,TNLPM,TNLS,TNM,TNOS,TNPA,TNPM,TNS,bug
0,0.0,0,0,0,0.0,0.0,0,0,6,1,...,13,0,13,0,13,49,0,13,0,0
1,0.0,0,0,0,0.0,0.0,0,0,0,0,...,5,0,5,0,5,8,0,5,0,0
2,0.0,0,0,0,0.0,0.0,0,0,1,4,...,4,0,3,2,4,33,0,3,2,0
3,0.0,0,0,0,0.0,0.0,0,0,2,1,...,15,2,15,0,15,21,5,15,0,0
4,0.0,0,0,0,0.0,0.0,0,0,0,0,...,2,0,2,0,2,0,0,2,0,0

In [3]:
data.shape

(47618, 61)

In [4]:
print(sorted(Counter(data['bug']).items()))

[(0, 38838), (1, 8780)]

In [5]:
(false,fault_no),(true,fault_yes)=sorted(Counter(data['bug']).items())
print(fault_no,fault_yes)

38838 8780

In [6]:
X = data.drop(['bug'], axis = 1)
y = data['bug']
X.head()

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,TNLG,TNLM,TNLPA,TNLPM,TNLS,TNM,TNOS,TNPA,TNPM,TNS
0,0.0,0,0,0,0.0,0.0,0,0,6,1,...,2,13,0,13,0,13,49,0,13,0
1,0.0,0,0,0,0.0,0.0,0,0,0,0,...,4,5,0,5,0,5,8,0,5,0
2,0.0,0,0,0,0.0,0.0,0,0,1,4,...,0,4,0,3,2,4,33,0,3,2
3,0.0,0,0,0,0.0,0.0,0,0,2,1,...,10,15,2,15,0,15,21,5,15,0
4,0.0,0,0,0,0.0,0.0,0,0,0,0,...,0,2,0,2,0,2,0,0,2,0

In [7]:
X.shape,y.shape

((47618, 60), (47618,))

In [8]:
pip install imblearn

Requirement already satisfied: imblearn in c:\users\geetha pavan\anaconda3\lib\site-packages (0.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: imbalanced-learn in c:\users\geetha pavan\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\geetha pavan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: joblib>=1.1.1 in c:\users\geetha pavan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\geetha pavan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: scipy>=1.3.2 in c:\users\geetha pavan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\geetha pavan\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)

In [9]:
from imblearn import under_sampling,over_sampling

In [10]:
# from imblearn.over_sampling import RandomOverSampler
# ros=RandomOverSampler(random_state=0)
# x_resampled,y_resampled=ros.fit_resample(X,y)
# print(sorted(Counter(y_resampled).items()),y_resampled.shape)

In [12]:
from imblearn.under_sampling import RandomUnderSampler
rus=RandomUnderSampler(random_state=0)
x_resampled,y_resampled=rus.fit_resample(X,y)
print(sorted(Counter(y_resampled).items()),y_resampled.shape)

[(0, 8780), (1, 8780)] (17560,)

In [13]:
print(y_resampled)

0        0
1        0
2        0
3        0
4        0
        ..
17555    1
17556    1
17557    1
17558    1
17559    1
Name: bug, Length: 17560, dtype: int64

In [14]:
print(x_resampled)

             CC  CCL  CCO  CI       CLC      CLLC  LDC  LLDC  LCOM5  NL  ...  \
0      0.000000    0    0   0  0.000000  0.000000    0     0      1   0  ...
1      0.178218    1    2   2  0.166667  0.153846   26    18      2   0  ...
2      0.000000    0    0   0  0.000000  0.000000    0     0      1   0  ...
3      0.000000    0    0   0  0.000000  0.000000    0     0      1   1  ...
4      0.000000    0    0   0  0.000000  0.000000    0     0      1   1  ...
...         ...  ...  ...  ..       ...       ...  ...   ...    ...  ..  ...
17555  0.000000    0    0   0  0.000000  0.000000    0     0      0   0  ...
17556  0.000000    0    0   0  0.000000  0.000000    0     0      0   0  ...
17557  0.183716    2   12   4  0.071685  0.168067   40    40      1   2  ...
17558  0.000000    0    0   0  0.000000  0.000000    0     0      1   1  ...
17559  0.000000    0    0   0  0.000000  0.000000    0     0      1   3  ...

       TNLG  TNLM  TNLPA  TNLPM  TNLS  TNM  TNOS  TNPA  TNPM  TNS
0         0     4      0      2     0   11     6     0     7    0
1         2     9      0      7     0   45    87     1    37    0
2         1     3      0      3     0   11     4     0    11    0
3         0     5      0      5     0    5    17     0     5    0
4         2     7      0      7     0   17    30     0    17    1
...     ...   ...    ...    ...   ...  ...   ...   ...   ...  ...
17555     6    17      0     17     0   42     0    12    42    2
17556     3     3      0      3     0   28     0    12    28    2
17557    12    26      0     24     7   26   124     0    24    7
17558     0     3      0      2     0    3     5     0     2    0
17559     0     4      0      2     0    4    30     0     2    0

[17560 rows x 60 columns]

In [15]:
df=x_resampled
df["bug"]=y_resampled
df

,CC,CCL,CCO,CI,CLC,CLLC,LDC,LLDC,LCOM5,NL,...,TNLM,TNLPA,TNLPM,TNLS,TNM,TNOS,TNPA,TNPM,TNS,bug
0,0.000000,0,0,0,0.000000,0.000000,0,0,1,0,...,4,0,2,0,11,6,0,7,0,0
1,0.178218,1,2,2,0.166667,0.153846,26,18,2,0,...,9,0,7,0,45,87,1,37,0,0
2,0.000000,0,0,0,0.000000,0.000000,0,0,1,0,...,3,0,3,0,11,4,0,11,0,0
3,0.000000,0,0,0,0.000000,0.000000,0,0,1,1,...,5,0,5,0,5,17,0,5,0,0
4,0.000000,0,0,0,0.000000,0.000000,0,0,1,1,...,7,0,7,0,17,30,0,17,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17555,0.000000,0,0,0,0.000000,0.000000,0,0,0,0,...,17,0,17,0,42,0,12,42,2,1
17556,0.000000,0,0,0,0.000000,0.000000,0,0,0,0,...,3,0,3,0,28,0,12,28,2,1
17557,0.183716,2,12,4,0.071685,0.168067,40,40,1,2,...,26,0,24,7,26,124,0,24,7,1
17558,0.000000,0,0,0,0.000000,0.000000,0,0,1,1,...,3,0,2,0,3,5,0,2,0,1
17559,0.000000,0,0,0,0.000000,0.000000,0,0,1,3,...,4,0,2,0,4,30,0,2,0,1

In [16]:
df.to_csv('pavdatfinal2.csv', index = True)